// Global SCSS Styling

.wrapper-link {
  color: unset;
  display: contents;
  font-style: unset;
  font-weight: unset;
  font: unset;
  text-decoration: unset;
}

.faded-clickable {
  opacity: 0.6;
  cursor: pointer;
}

.faded-clickable:hover,
.faded-clickable:focus {
  opacity: 1;
}

.text-link {
  color: unset;
  display: contents;
  font-style: unset;
  font-weight: unset;
  font: unset;
  text-decoration: underline;
}

ol,
ul {
  padding-left: 2em;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url(../assets/fonts/roboto-mono.ttf);
}

.monospace {
  font-family: 'Roboto Mono', monospace;
}

.monospace-md + .monospace-md {
  @extend .monospace;
  font-size: 12px;
}

.monospace-sm + .monospace-sm {
  @extend .monospace;
  font-size: 11px;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.q-btn--dense {
  padding-left: 8px;
  padding-right: 8px;
}
