# Project
.env
/playground/

# Python
__pycache__/
.mypy_cache/
.pytest_cache/
.python-version
.venv
dist/
poetry.toml

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tools
.fleet/
.idea/
.tool-versions
.vscode/
*.code-workspace

# Other
.DS_Store
