<html>

<head>
  {% include "html-email-style.jinja" %}
</head>

<body>
  <h1>{{ dispatch.subject }}</h1>
  {% if dispatch.description and dispatch.description.strip() %}
  <div>
    {{ markdown(dispatch.description) }}
  </div>
  {% endif %}
  <hr />
  <div>
    {% for level, in_level in index.items() %}
    <div>
      <h2><b>{{ level.title() }}</b> ({{ get_size(in_level) }})</h2>
      <table style="margin-bottom: 4px">
        <tr>
          <th>Source</th>
          <th>Type</th>
          <th>Data</th>
          <th>Count</th>
          <th>Latest (UTC)</th>
        </tr>
        {% for (source, type, data), alerts in in_level.items() %}
        <tr>
          <td>{{ source }}</td>
          <td>{{ type }}</td>
          <td>
            <pre>{{ data }}</pre>
          </td>
          <td>{{ get_size(alerts) }}</td>
          <td>{{ get_latest_alert_timestamp(alerts).strftime("%Y-%m-%d %H:%M:%S") }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endfor %}
  </div>
  {% if dispatch.signature and dispatch.signature.strip() %}
  <hr />
  <div>
    {{ markdown(dispatch.signature) }}
  </div>
  {% endif %}
</body>

</html>
