$primary: #007dab;
$secondary: #26a69a;
$accent: #9c27b0;
$positive: #2bad31;
$negative: #c10015;
$info: #31ccec;
$warning: #ff9d00;

$dark: #1d1d1d;
$darker: #131313;

$light: white;
$lightish: #f5f5f5;
